/* ====== CSS Variables ====== */
:root {
    /* ========= Colors ========= */

    /* ====== Primary ====== */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* ====== Neutral ====== */
    --Very-dark-blue-a: hsl(217, 54%, 11%);  /* (main BG) */
    --Very-dark-blue-b: hsl(216, 50%, 16%);  /* (card BG) */
    --Very-dark-blue-c: hsl(215, 32%, 27%);  /* (line) */
    --White: hsl(0, 0%, 100%);

    /* ====== Typography ====== */
    --Outfit: 'Outfit', sans-serif;
}

/* ====== Basic styles ====== */
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

/* ====== Main styles ====== */
body {
    background-color: var(--Very-dark-blue-b);

    font-family: var(--Outfit);
}

@media screen and (min-width: 1440px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vh;
    }
}

@media screen and (min-width: 375px) {
    body {
        background-color: var(--Very-dark-blue-a);
    }
}

/* Styles for hidden heading */
.hidden-heading {
    display: inline-block;
    position: absolute !important;
    
    padding: 0 !important;
    margin: 0 !important;
    
    width: 1px;
    height: 1px;
    
    overflow: hidden;
    border: 0 !important;
    clip: rect(1, 2, 3, 4, 5);

    font-size: 0;
}

/* ====== Card styles ====== */
.nft-card {
    position: relative;

    width: 100%;

    padding: 25px;

    background-color: var(--Very-dark-blue-b);
}

@media screen and (min-width: 375px) {
    .nft-card {
        width: 330px;

        margin: 65px auto;

        border-radius: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .nft-card {
        width: 350px;

        padding-bottom: 33px;
    }
}

/* Card shadows */
.nft-card::before,
.nft-card::after {
    content: "";
    display: none;
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
}

.nft-card::before {
    top: 15px;

    width: 389px;
    height: 625px;

    background-color: var(--Very-dark-blue-a);
    border-radius: 60px;

    z-index: -1;
}

@media screen and (min-width: 1024px) {
    .nft-card::before {
        display: block;
    }
}

.nft-card::after {
    top: -25px;

    width: 440px;
    height: 690px;
    
    background-color: var(--Very-dark-blue-b);
    opacity: 0.1;
    border-radius: 40px;

    z-index: -2;
}

@media screen and (min-width: 1024px) {
    .nft-card::after {
        display: block;
    }
}

/* == Top part == */
.nft-card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    height: 273px;

    background-image: url("/src/images/image-equilibrium.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

@media screen and (min-width: 1024px) {
    .nft-card__image {
        height: 301px;

        cursor: pointer;
    }
}

/* Hover effect for card image */
.nft-card__image::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 8px;
    background-color: var(--Cyan);
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.nft-card__image:hover::before {
    opacity: 0.5;
}

.nft-card__hover-icon {
    position: relative;

    opacity: 0;

    transform: translateY(30px);
    transition: opacity 100ms 150ms ease-out,
                transform 200ms 150ms ease-out;
}

.nft-card__image:hover .nft-card__hover-icon {
    opacity: 1;
    transform: translateY(0);
}

/* == Middle part == */
.nft-card__card-title {
    margin-top: 24px;

    cursor: pointer;

    color: var(--White);
    font-size: 1.4em;
}

.nft-card__card-title:hover {
    color: var(--Cyan);
}

.nft-card__content-text {
    margin-top: 15px;

    color: var(--Soft-blue);
    line-height: 25px;
    font-weight: 300;
}

@media screen and (min-width: 1024px) {
    .nft-card__content-text {
        font-size: 1.1em;
    }
}

.nft-card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0;

    border-bottom: solid 1px var(--Very-dark-blue-c);
}

@media screen and (min-width: 1024px) {
    .nft-card__wrapper {
        padding: 26px 0;
    }
}

.nft-card__icon-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nft-card__icon-text-container:nth-child(1) {
    color: var(--Cyan);
    font-weight: 600;
}

.nft-card__icon-text-container:nth-child(2) {
    color: var(--Soft-blue);
}

.nft-card__icon {
    margin-right: 5px;
}

.nft-card__unit {
    margin-left: 3px;
}

/* == Bottom part == */
.nft-card__avatar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-top: 15px;

    color: var(--Soft-blue);
}

.nft-card__avatar {
    max-width: 33px;
    height: auto;

    margin-right: 15px;

    border-radius: 50%;
    border: solid 1px var(--White);
}

.nft-card__author-name {
    margin-left: 5px;

    cursor: pointer;

    color: var(--White);
}

.nft-card__author-name:hover {
    color: var(--Cyan);
}
